<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      @for (message of messages(); track $index) {
        @if (message.isGpt) {
          @if (message.info) {
            <app-g-pt-message-ort
            [text]="message.info.message"
            [userScore]="message.info.userScore"
            [errors]="message.info.errors"
          />
          } @else {
            <app-chat-message
              [text]="message.text"
            />
          }
        } @else {
          <app-my-message
            [text]="message.text"
          />
        }
      }

      @if (isLoading()) {
        <app-typing-loader />
      }
    </div>
  </div>

  <!-- MessageBox -->
  <app-text-message-box
    [placeholder]="'Escribe aqui el texto...'"
    (onMessageSent)="handleMessageWithText($event)"
  />

</div>
